.footer_img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}
.i1{
    width: 20px;
    height: 20px;
}
.footer-h2{
  margin-left: 0px;
}
.footer-main{
    background-color: #242424;

}